.weather-container {
    flex: 1;
    /* background-color: lightcoral; */
    margin: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    color: white;
    font-family: Formula1Regular;
}

.currentWeatherInfo-container {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.currentWeather {
    font-size: 2.5vh;
    margin-top: 1.3vh;
    margin-left: 1vh;
    cursor: pointer;
}

.currentWeather-icon {
    font-size: 2.5vh;
}

.degree-icon {
    font-size: 2.5vh;
    margin-top: 1.3vh;
}

.weather-container__locationInfo {
    flex: 1;
    display: flex;
    align-items: flex-start;
}