@import url("./css/SearchBar.css");
@import url("./css/SettingTab.css");
@import url("./css/NavigationDown.css");
@import url("./css/SecondaryMain.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  animation: fadein 2s 0s;
  height: 100%;
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Formula1Bold";
  src: URL("./Assets/fonts/Formula1-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Formula1Black";
  src: URL("./Assets/fonts/Formula1-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Formula1Regular";
  src: URL("./Assets/fonts/Formula1-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Formula1Wide";
  src: URL("./Assets/fonts/Formula1-Wide.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: URL("./Assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: URL("./Assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

#page-1,
#page-2 {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  user-select: none;
}

.container__top {
  flex: 0.5;
  display: flex;
  flex-direction: row;
}

.container__bottom {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
  font-size: 3vh;
  font-family: Formula1Bold;
  letter-spacing: 3px;
  overflow: auto;
}

.container__time {
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}

.container__searchbar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container__nextraceinfo {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  margin: 0 2vw;
}

.container__navigationdown {
  position: relative;
  height: 2em;
  width: inherit;
  text-align: center;
  font-size: 2rem;
  bottom: 0px;
}
